{% macro card(title, content, img="", icon="", icontype="b", color="") %}
<div class="col mb-4 d-flex align-items-stretch">
    <div class="card banner-card" {% if color %}style="border-color:{{ color }};" {% endif %}>
        <div class="card-body text-center">
            {% if img %}<img src="{{ img }}" style="max-height: 70px;" />{% endif %}
            {% if icon %}<i class="fa{{ icontype }} fa-{{ icon }} mt-3 mb-3" style="font-size:4.42em;"></i>{% endif %}
            <h4 class="card-title" {% if color %}style="color:{{ color }}" {% endif %}>{{ title }}</h5>
                <p class="card-text">{{ content }}</p>
        </div>
    </div>
</div>
{% endmacro card %}

{% macro feature_entry(title, link, state="planned") %}
{% if state == 'stable' %}
{% set color = "success" %}
{% set text = "stable" %}
{% elif state == 'beta' %}
{% set color = "warning" %}
{% set text = "beta" %}
{% elif state == 'alpha' %}
{% set color = "danger" %}
{% set text = "alpha" %}
{% else %}
{% set color = "secondary" %}
{% set text = "planned" %}
{% endif %}
<tr>
    <th scope="row"><a href={{ link }}>{{ title }}</a></th>
    <td><span class="badge badge-{{ color }}">{{ text }}</span></td>
</tr>
{% endmacro feature_entry %}

{% macro sidebar() %}
<ul>
    {% set section = get_section(path='guide/_index.md') %}
    {% for ss in section.subsections | sort() %}
    <li>
        {% set ss = get_section(path=ss) %}
        <a href="{{ss.permalink | safe}}">{{ ss.title }}</a>
        <ul>
            {% for h2 in ss.pages %}
            <li>
                <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                {% if page and page.permalink == h2.permalink %}
                <ul>
                    {% for h3 in page.toc %}
                    <li>
                        <a href="{{h3.permalink | safe}}">{{ h3.title }}</a>
                        {% if h3.children %}
                        <ul>
                            {% for h4 in h3.children %}
                            <li>
                                <a href="{{h4.permalink | safe}}">{{ h4.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endmacro sidebar %}