@import "styles/components/post-details.scss";

.posts {
    max-width: min(100% - 15vw, 45em);
    margin: var(--row-gap-1) auto;
    padding: 0 var(--margin);
    display: flex;
    gap: 2em;
    flex-direction: column;

    &>article {

        & a {
            text-decoration: none;
        }

        & h2 {
            margin: 0;
        }

        & a.link:hover {
            text-decoration: underline;
        }
    }
}