@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Inter', sans-serif;
	--color-green: #15846f;
	--color-lightgreen: #15846f22;
	--color-lightergreen: #15846f11;
	--color-graytransparent: #55555555;
}

a {
	@apply text-green no-underline
}

@layer components {
	*:not(.prose) a {
		@apply text-green no-underline
	}

	a:hover, a:active {
		@apply text-green transition ease-out;
	}
}

tr {
	@apply even:bg-lightgreen;
}

td {
	@apply px-2 even:bg-lightergreen;
}

th {
	@apply text-center;
}

/* Prose styling */
div.expressive-code {
	@apply mb-10
}

pre.astro-code, pre.shiki {
	@apply mt-0 mb-0 rounded-b-md border-[1px] border-slate-200 dark:border-slate-800
}

.code-snippet > pre.shiki {
	@apply rounded-t-none
}

figure {
	@apply flex flex-col items-center
}

@media (prefers-color-scheme: dark) {
	.shiki,
	.shiki span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
		/* Optional, if you also want font styles */
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}
}

@media (prefers-color-scheme: light) {

	.shiki,
	.shiki span {
		@apply !bg-slate-100 dark:!bg-slate-700
	}
}