@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Inter', sans-serif;
	--color-green: #15846f;
	--color-lightgreen: #15846f22;
	--color-lightergreen: #15846f11;
	--color-graytransparent: #55555555;
}

@layer components {
	a:hover,a:active {
		@apply text-green transition ease-out;
	}
}

tr {
	@apply even:bg-lightgreen;
}

td {
	@apply px-2 even:bg-lightergreen;
}

th {
	@apply text-center;
}

/* Prose styling */
div.expressive-code {
	@apply mb-10
}
