.banner {
    background-color: white;
    max-width: 580px;
}

.banner-card {
    border-style: none !important;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    position: relative;
}

.sidebar-content a {
    color: black;
    border-bottom: 2px solid rgb(196, 135, 135);
}

.sidebar-content a:hover {
    text-decoration: none;
    border-bottom: 2px solid rgb(185, 37, 37);
}

.sidebar-content ul {
    padding-left: 0;
    margin-left: 0;
}

.sidebar-content ul ul {
    padding-left: 1em;
    margin-left: 0;
}

.sidebar-content li {
    margin-top: 0.5em;
    list-style: none;
    font-size: 1.25em;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-content li li {
    font-size: 0.9em;
}

.sidebar-content li li li {
    font-size: 0.9em;
}

.sidebar-content li li li li {
    font-size: 1em;
}

h1.sidebar-h {
    font-size: 1.25em;
    color: black;
}

h2.sidebar-h {
    padding-left: 1em;
    font-size: 1em;
    color: black;
}

h3.guide {
    color:#964FC2;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.guide-content h3 {
    color:#964FC2;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h2.guide {
    color:#964FC2;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.guide-content h2 {
    color:#964FC2;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1.guide {
    color:#964FC2;
    margin-bottom: 0.5em;
}

.guide-content h1 {
    color:#964FC2;
    margin-bottom: 0.5em;
}

.guide-content {
    min-height: calc(100vh - 112px - 180px - 24px);
    /* max-width: calc(100% - 250px); */
    margin: 0;
}

pre {
    background-color: #F8F8F8 !important;
    padding: 1em;
    margin-top: 1em;
}