---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive =
  pathname.startsWith(href as string) || href === "/" + (subpath?.[0] || "");
const finalHref = href?.toString().startsWith("http")
  ? href
  : import.meta.env.BASE_URL + href;
---

<li
  class:list={[
    "flex items-center content-center mx-2 border-b-2 font-bold active:mx-2 hover:border-b-green",
    { "border-b-green": isActive, "border-white": !isActive },
  ]}
>
  <a
    href={finalHref}
    class:list={[className, "hover:text-green"]}
    style={{ color: isActive ? "#15846f" : "black" }}
    {...props}
  >
    <slot />
  </a>
</li>
