---
let {href} = Astro.props
const domain = import.meta.env.SITE
let attr = {target: '', rel: ''}

if (!href.includes(domain) && !href.startsWith("/") && !href.startsWith("#")) {
  attr.target = '_blank';
  attr.rel = 'noopener';
}

// Rewrite path links
if (href.startsWith('/')) {
  href = import.meta.env.BASE_URL + href;
}

---

<a href={href} {...attr}><slot /></a>