# Copy this file to /etc/udev/rules.d/
# If rules fail to reload automatically, you can refresh udev rules
# with the command "udevadm control --reload"

# This rules are based on the udev rules from the OpenOCD project, with unsupported probes removed.
# See http://openocd.org/ for more details.
#
# This file is available under the GNU General Public License v2.0

ACTION!="add|change", GOTO="probe_rs_rules_end"

SUBSYSTEM=="gpio", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"

SUBSYSTEM!="usb|tty|hidraw", GOTO="probe_rs_rules_end"

# Please keep this list sorted by VID:PID

# STMicroelectronics ST-LINK V1
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="3744", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"

# STMicroelectronics ST-LINK/V2
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="3748", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"

# STMicroelectronics ST-LINK/V2.1
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="3752", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"

# STMicroelectronics STLINK-V3
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374d", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374e", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374f", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="3753", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="3754", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"

# SEGGER J-Link
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0101", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0102", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0103", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0104", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0105", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0107", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0108", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1001", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1002", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1003", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1004", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1005", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1006", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1007", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1008", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1009", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="100a", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="100b", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="100c", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="100d", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="100e", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="100f", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1010", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1011", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1012", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1013", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1014", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1015", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1016", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1017", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1018", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1019", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="101a", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="101b", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="101c", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="101d", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="101e", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="101f", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1020", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1021", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1022", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1023", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1024", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1025", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1026", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1027", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1028", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1029", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="102a", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="102b", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="102c", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="102d", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="102e", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="102f", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1050", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1051", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1052", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1053", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1054", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1055", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1056", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1057", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1058", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1059", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="105a", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="105b", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="105c", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="105d", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="105e", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="105f", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1060", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1061", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1062", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1063", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1064", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1065", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1066", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1067", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1068", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1069", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="106a", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="106b", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="106c", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="106d", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="106e", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1366", ATTRS{idProduct}=="106f", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"

# FT232H
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6014", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
# FT2232x
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
# FT4232H
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"

# FTDI-based Olimex devices
ATTRS{idVendor}=="0x15ba", ATTRS{idProduct}=="0x0003", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="0x15ba", ATTRS{idProduct}=="0x0004", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="0x15ba", ATTRS{idProduct}=="0x002a", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="0x15ba", ATTRS{idProduct}=="0x002b", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"

# Espressif USB JTAG/serial debug unit
ATTRS{idVendor}=="303a", ATTRS{idProduct}=="1001", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
# Espressif USB Bridge
ATTRS{idVendor}=="303a", ATTRS{idProduct}=="1002", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"

# CMSIS-DAP compatible adapters
ATTRS{product}=="*CMSIS-DAP*", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
# WCH Link (CMSIS-DAP compatible adapter)
ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="8010", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"
ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="8011", ENV{ID_DEBUG_APPLIANCE}="on_chip_debugger"

# TODO: For compatible with systemd < v258
ENV{ID_DEBUG_APPLIANCE}=="on_chip_debugger", TAG+="uaccess"
# If you want to use probe-rs with SSH-login user session, uncomment line below, and replace grpname with what you want.
#ENV{ID_DEBUG_APPLIANCE}=="on_chip_debugger", MODE="0660", GROUP="grpname"

LABEL="probe_rs_rules_end"
