.banner {
    background-color: white;
    max-width: 580px;
}

.banner-card {
    border-style: none !important;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    position: relative;
}

.sidebar-content {
    position: fixed;
}

h1.sidebar-h {
    font-size: 1.25em;
    color: black;
}

h2.sidebar-h {
    padding-left: 1em;
    font-size: 1em;
    color: black;
}

h2.guide {
    color:#964FC2;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1.guide {
    color:#964FC2;
    margin-bottom: 0.5em;
}

.guide-content {
    min-height: calc(100vh - 112px - 180px - 24px);
    /* max-width: calc(100% - 250px); */
    margin: 0;
}

pre {
    background-color: #F8F8F8 !important;
    padding: 1em;
    margin-top: 1em;
}