{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block content %}

<div class="banner jumbotron m-auto text-center">
    <h1 class="display-4">probe-rs</h1>
    <p class="lead">a modern, embedded debugging toolkit,<br>written in Rust</p>
    <div class="d-flex align-items-center justify-content-center">
        <a href="https://github.com/probe-rs/probe-rs" style="color:black" target="_blank"><i class="fab fa-github m-1" style="font-size:1.2em"></i></a>
        <a href="https://crates.io/crates/probe-rs" target="_blank"><img src="https://meritbadge.herokuapp.com/probe-rs" alt="crates.io" class="m-1"/></a>
        <a href="https://docs.rs/probe-rs" target="_blank"><img src="https://docs.rs/probe-rs/badge.svg" alt="documentation" class="m-1"/></a>
        <a href="https://github.com/probe-rs/probe-rs/actions" target="_blank"><img src="https://github.com/probe-rs/probe-rs/workflows/CI/badge.svg" alt="GH Actions Status" class="m-1"/></a>
        <a href="https://matrix.to/#/!vhKMWjizPZBgKeknOo:matrix.org" target="_blank"><img src="https://img.shields.io/badge/chat-probe--rs%3Amatrix.org-brightgreen" alt="chat" class="m-1"/></a>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    {{ macros::card(
        title="Flash programming",
        content="Downloading a binary to your MCU is easy with probe-rs. We support ELF, ihex and plain binary.",
        img="/static/img/flash.svg",
        color="#80ADBF"
    ) }}
    {{ macros::card(
        title="Compatible",
        content="ARM, RiscV, CMSIS-DAP, STLink, JLink probe-rs supports it all. And many more to come!",
        img="/static/img/multilingual.svg",
        color="#BF3459"
    ) }}
    <a href="#a-cargo-flash" style="text-decoration: none; color: black;">{{ macros::card(
        title="Cargo integration",
        content="With cargo-flash you get everything cargo run gives you, but for embedded targets. No compromises.",
        img="/static/img/cargo.png",
        color="#BF834E"
    ) }}</a>
    <a href="/guide#a-probe-rs-library" style="text-decoration: none; color: black;">{{ macros::card(
        title="Extensible",
        content="probe-rs can be used as a library, giving you even more flexibility.",
        img="/static/img/extensible.svg",
        color="#964FC2"
    ) }}</a>
    {{ macros::card(
        title="GDB integration",
        content="probe-rs includes a GDB stub to integrate seamlessly into your usual workflow with common tools.",
        img="/static/img/gdb.svg",
        color="#000000"
    ) }}
    {{ macros::card(
        title="VSCode integration",
        content="We provide a Microsoft DAP server implementation with probe-rs to debug in VSCode.",
        img="/static/img/vscode.svg",
        color="#4992BF"
    ) }}
</div>

<h2 class="text-center mt-5 mb-5" style="color:#BF834E" id="a-cargo-flash">cargo flash</h2>
<div class="row">
    <div class="col-12 col-lg-6 order-last order-lg-first">
        {{ "snippets/cargo-flash.sh" | code | safe }}
    </div>
    <div class="col-12 col-lg-6 mb-3 d-flex align-items-center">
        <div>
            <p>
                <b>cargo-flash</b> is a cargo extension and drop in replacement for 'cargo run'.
            </p>
            <p>
                You can use <b>cargo-flash</b> just like 'cargo run', but instead of running on the host, <b>cargo-flash</b> will download your binary to the target and run.
            </p>
            <p>
                Any config flags that are accepted by 'cargo run' are accepted by <b>cargo-flash</b> too.
                If not, hit us with an <a href="https://github.com/probe-rs/cargo-flash/issues/new/choose" target="_blank">issue</a>.
            </p>
        </div>
    </div>
</div>

<h2 class="text-center mt-5 mb-5">Features</h2>
<table class="table">
    <tbody>
      {{ macros::feature_entry(title="Flash programming", state="stable") }}
      {{ macros::feature_entry(title="Cargo integration", state="stable") }}
      {{ macros::feature_entry(title="CMSIS-Pack support", state="stable") }}
      {{ macros::feature_entry(title="RiscV support", state="alpha") }}
      {{ macros::feature_entry(title="ARM support", state="stable") }}
      {{ macros::feature_entry(title="CMSIS-DAP (DAP-Link) support", state="stable") }}
      {{ macros::feature_entry(title="ST-Link support", state="stable") }}
      {{ macros::feature_entry(title="J-Link support", state="alpha") }}
      {{ macros::feature_entry(title="JTAG support", state="alpha") }}
      {{ macros::feature_entry(title="SWD support", state="stable") }}
      {{ macros::feature_entry(title="GDB stub", state="beta") }}
      {{ macros::feature_entry(title="Microsoft DAP (VSCode) server", state="alpha") }}
      {{ macros::feature_entry(title="WASM extensions for chip-specific fucntionality", state="planned") }}
      {{ macros::feature_entry(title="Chip autodetection", state="beta") }}
      {{ macros::feature_entry(title="Debugging (run, halt, step, break)", state="beta") }}
      {{ macros::feature_entry(title="ITM support", state="planned") }}
      {{ macros::feature_entry(title="Flash (soft) breakpoints", state="planned") }}
      {{ macros::feature_entry(title="Write to externally connected flashes", state="planned") }}
      {{ macros::feature_entry(title="Segger RTT support", state="planned") }}
      {{ macros::feature_entry(title="Semihosting", state="planned") }}
    </tbody>
  </table>
{% endblock %}
