<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>probe.rs - the embedded toolkit</title>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="probe-rs the embedded toolkit written in rust">
    <meta name="author" content="probe-rs">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/fontawesome/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/layout.css?v=1">

    <script src="/bootstrap/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light mt-5 mb-2">
        <div class="container">
            <a class="navbar-brand" href="#">probe-rs</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse float-right" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if current_path is starting_with('/') %}active{% endif %}">
                        <a class="nav-link" href="/">
                            Overview
                            {% if current_path is starting_with('/') %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    <li class="nav-item {% if current_path is starting_with('guide/') %}active{% endif %}">
                        <a class="nav-link" href="/guide/1_tools">
                            Guide
                            {% if current_path is starting_with('guide/') %}<span class="sr-only">(current)</span>{%
                            endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://docs.rs/probe-rs/*/probe_rs/" target="_blank">Docs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/probe-rs/probe-rs" target="_blank">Code</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://shop.probe.rs/products/hs-probe-v1-3" target="_blank">Get
                            Hardware</a>
                    </li>
                    <li class="nav-item">
                        <iframe src="https://github.com/sponsors/probe-rs/button" title="Sponsor probe-rs" height="35"
                            width="116" style="border: 0; margin-top: 3px"></iframe>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <!-- {{ __tera_context }} -->
        {% block content %}
        {% endblock %}
    </div>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md text-center">
                    <small class="d-block mb-3 text-muted">© 2019-{{ now() | date(format="%Y") }} <a
                            href="https://github.com/Yatekii">@Yatekii</a></small>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>