<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>probe.rs - the embedded toolkit</title>
    <meta name="description" content="probe-rs the embedded toolkit written in rust">
    <meta name="author" content="probe-rs">

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/static/fontawesome/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/layout.css?v=1">

    <script src="/static/bootstrap/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light mt-5 mb-2">
        <div class="container">
            <a class="navbar-brand" href="#">probe-rs</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse float-right" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if page == 'guide' %}active{% endif %}">
                        <a class="nav-link" href="/index">Overview<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if page == 'guide' %}active{% endif %}">
                        <a class="nav-link" href="/guide">Guide<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://docs.rs/probe-rs/*/probe_rs/" target="_blank">Docs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/probe-rs/probe-rs" target="_blank">Code</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md text-center">
                    <small class="d-block mb-3 text-muted">© 2019-{{ now() | date(format="%Y") }} <a
                            href="https://github.com/Yatekii">@Yatekii</a></small>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>