{% macro card(title, content, img="", icon="", icontype="b", color="") %}
<div class="col mb-4 d-flex align-items-stretch">
    <div class="card banner-card" {% if color %}style="border-color:{{ color }};" {% endif %}>
        <div class="card-body text-center">
            {% if img %}<img src="{{ img }}" style="max-height: 70px;" />{% endif %}
            {% if icon %}<i class="fa{{ icontype }} fa-{{ icon }} mt-3 mb-3" style="font-size:4.42em;"></i>{% endif %}
            <h4 class="card-title" {% if color %}style="color:{{ color }}" {% endif %}>{{ title }}</h5>
                <p class="card-text">{{ content }}</p>
        </div>
    </div>
</div>
{% endmacro card %}

{% macro feature_entry(title, link, state="planned") %}
{% if state == 'stable' %}
{% set color = "success" %}
{% set text = "stable" %}
{% elif state == 'beta' %}
{% set color = "warning" %}
{% set text = "beta" %}
{% elif state == 'alpha' %}
{% set color = "danger" %}
{% set text = "alpha" %}
{% else %}
{% set color = "secondary" %}
{% set text = "planned" %}
{% endif %}
<tr>
    <th scope="row"><a href={{ link }}>{{ title }}</a></th>
    <td><span class="badge badge-{{ color }}">{{ text }}</span></td>
</tr>
{% endmacro feature_entry %}

{% macro sb(l, c, u) %}
<{{ l }} class="sidebar-h"><a href="{{ u }}">{{ c }}</a></{{ l }}>
{% endmacro sb %}

{% macro sidebar() %}
<h1 class="sidebar-h">Tools</h1>
{{ macros::sb(
    l="h1",
    c="cargo-flash",
    u="/tools/cargo-flash"
) }}
{{ macros::sb(
    l="h1",
    c="RTT",
    u="/tools/rtt"
) }}
<h1 class="sidebar-h">Library use</h1>
{{ macros::sb(
    l="h1",
    c="Index",
    u="/library"
) }}
{{ macros::sb(
    l="h1",
    c="Quickstart",
    u="/library/quickstart"
) }}
{{ macros::sb(
    l="h2",
    c="Attaching",
    u="/library/quickstart#attaching"
) }}
{{ macros::sb(
    l="h2",
    c="Memory R/W",
    u="/library/quickstart#memory"
) }}
{{ macros::sb(
    l="h2",
    c="Flashing",
    u="/library/quickstart#flashing"
) }}

{{ macros::sb(
    l="h1",
    c="Basics",
    u="/library/basics"
) }}
{{ macros::sb(
    l="h2",
    c="Structure",
    u="/library/basics#structure"
) }}
{{ macros::sb(
    l="h2",
    c="Probe",
    u="/library/basics#probe"
) }}
{{ macros::sb(
    l="h2",
    c="Session",
    u="/library/basics#session"
) }}
{{ macros::sb(
    l="h2",
    c="Core",
    u="/library/basics#core"
) }}

{{ macros::sb(
    l="h1",
    c="Downloading flash",
    u="/guide/downloading"
) }}

{{ macros::sb(
    l="h1",
    c="ITM tracing",
    u="/guide/itm"
) }}

{{ macros::sb(
    l="h1",
    c="CMSIS-Packs",
    u="/guide/cmsis-packs"
) }}
{{ macros::sb(
    l="h2",
    c="Basics",
    u="/guide/cmsis-packs#basics"
) }}
{{ macros::sb(
    l="h2",
    c="Flash algorithms",
    u="/guide/cmsis-packs#flash-algorithms"
) }}
{{ macros::sb(
    l="h2",
    c="YAML format",
    u="/guide/cmsis-packs#yaml-format"
) }}
{{ macros::sb(
    l="h2",
    c="Target extraction",
    u="/guide/cmsis-packs#target-extraction"
) }}

{{ macros::sb(
    l="h1",
    c="Implementing a probe",
    u="/guide/implement-probe"
) }}
{% endmacro sidebar %}
