{% extends "guide/layout.html" %}

{% block guide_content %}

<h2 class="text-center mt-5 mb-5" style="color:#964FC2" id="a-probe-rs-library">probe-rs as a library</h2>

<p>
    probe-rs is the name of the project as well as a library.
    probe-rs first and foremost is a library to talk to microchips to enable you to create awesome embedded tooling!
    In the following chapters the usage of the library will be documented and it is explained how the general debugging setup looks like.
</p>

{% endblock %}