{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block content %}
<!-- <h2 class="text-center mt-5 mb-5" style="color:#964FC2" id="a-probe-rs-library">Guide</h2> -->
<div class="container d-flex p-0 pt-4">
    <div class="sidebar d-none d-xl-block">
        <div class="sidebar-content">
            {{ macros::sidebar() }}
        </div>
    </div>
    <div class="d-flex flex-grow-1">
        <div class="container guide-content">
            {% block guide_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}