# This workflow always runs from the state on `master`.
# If you want to test changes to the workflow, you need to open a second PR against the branch of the PR with the workflow changes.
# This is a security feature so one cannot meddle with secrets.

name: Publish preview on CF Pages

on:
  pull_request_target:

permissions:
  contents: read
  pages: write
  id-token: write
  issues: write
  pull-requests: write

jobs:
  deploy-preview:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install & build with Astro
        uses: withastro/action@v5

      - name: Deploy to CF Pages
        id: deploy-preview
        uses: cloudflare/wrangler-action@v3
        env:
          API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        with:
          apiToken: ${{ env.API_TOKEN }}
          accountId: ${{ env.ACCOUNT_ID }}
          command: pages deploy dist --project-name=${{ github.event.repository.name }} --branch=${{ env.BRANCH_NAME }}
